---
site_name: Ordeq
site_url: https://ing-bank.github.io/ordeq
site_description: "Ordeq simplifies IO and modularizes pipeline logic."
repo_url: https://github.com/ing-bank/ordeq
repo_name: ordeq

# nav:
# Do not alter this section. We use awesome-nav for automatic navigation generation.
# See docs/.nav.yml and https://lukasgeiter.github.io/mkdocs-awesome-nav/ for more info.

theme:
  name: material
  features:
    - navigation.path  # breadcrumbs
    - navigation.sections
    - content.code.copy
    - content.code.select
    - navigation.footer
    - content.code.annotate
    - navigation.indexes
  logo: _static/ordeq-logo.svg
  favicon: _static/ordeq-logo.svg
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      primary: black
      scheme: default
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: black
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

markdown_extensions:
  - ordeq_docs.marimo_blocks:MarimoBlocksExtension
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      use_pygments: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      check_paths: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: true
  - md_in_html

plugins:
  - search
  - awesome-nav
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: false
            docstring_style: google

hooks:
  - docs/hooks.py
